table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
  cursor: pointer;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
  cursor: pointer;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

td {
  span {
    padding-right: .5em !important;
  }
}
td.thumbnail {
  width: 10em;
  text-align: center;
  padding-right: 0;

  img {
    max-height: 4em;
    max-width: 9em;
    margin: .5em;
  }
}
td.num {
  width: 6em;
  text-align: center;
}

mat-grid-tile:not(.image) {
  overflow: auto;

  p {
    max-height: 10em;
    margin-top: 1.5em;
  }

  mat-chip-list {
    max-height: 10em;
    margin: 0 1em;

    mat-chip {
      max-width: 10em;
      height: auto;
    }
  }
}