table {
  width: 100%;
}

tr.detail-row {
  height: 0;
}

tr.entry-row:not(.row-expanded-details):hover {
  background: whitesmoke;
  cursor: pointer;
}

tr.entry-row:not(.row-expanded-details):active {
  background: #efefef;
  cursor: pointer;
}

.entry-row td {
  border-bottom-width: 0;
}

.row-expanded-details {
  overflow: hidden;
  display: flex;
  justify-content: center;
}

mat-form-field.thumbnail {
  top: .75em;
}
.thumbnail {
  width: 10em;
  text-align: center;
  padding-right: 0;

  img {
    max-height: 4em;
    max-width: 9em;
    margin: .5em;
  }
}
th.attrs, td.attrs {
  max-width: 6em;
  text-align: center;
}

.filter-flex-container {
  display: flex;
  justify-content: center;

  mat-form-field {
    width: 7em;
    margin: 0 .5em;
    flex: 1;
  }
}

form {
  margin: 1em 2em 0 2em;
}

button.miniFAB {
  position: absolute;
  z-index: 9;
  top: 4px;   // mini-fab = 40px, tablist = 48px;
}
.upperLeftFABButton {
  left: .5em;
}

.upperRightFABButton {
  right: .5em;
}

mat-drawer {
  display: flex;
  height: 100%;
  max-width: 80%;
  align-items: center;
  justify-content: center;
}

mat-drawer-container {
  height: 100%;
  background-color: gainsboro;
}