table {
    width: 100%;
}

tr.entryRow:hover {
    background: whitesmoke;
    cursor: pointer;
}

mat-form-field.thumbnail {
    top: .75em;
}
.thumbnail {
    width: 10em;
    text-align: center;
    padding-right: 0;

    img {
        max-height: 3.5em;
        max-width: 7em;
        margin: .5em;
    }
}
th.attrs, td.attrs {
    max-width: 6em;
    text-align: center;
}

.filter-flex-container {
    display: flex;
    align-items: center;
    justify-content: center;

    mat-form-field {
        margin: auto .5em;
        // flex: 1;     // not used in order to have field of diff sizes
        width: 10em;        
    }
    mat-form-field.minorFilter {
        width: 5em;
    }
    mat-form-field.mediumFilter {
        width: 7.5em;
    }

    button, mat-slide-toggle {
        margin-left: 1em;
    }
}

form {
    margin: 1em 2em 0 2em;
}
  