table {
    width: 100%;
}

tr.detail-row {
    height: 0;
}

tr.entry-row:not(.row-expanded-details):hover {
    background: whitesmoke;
    cursor: pointer;
}

tr.entry-row:not(.row-expanded-details):active {
    background: #efefef;
    cursor: pointer;
}

.entry-row td {
    border-bottom-width: 0;
}

.row-expanded-details {
    overflow: hidden;
    display: flex;
    justify-content: center;
}

mat-form-field.thumbnail {
    top: .75em;
}
.thumbnail {
    width: 10em;
    text-align: center;
    padding-right: 0;

    img {
        max-height: 3.5em;
        max-width: 7em;
        margin: .5em;
    }
}
th.attrs, td.attrs {
    max-width: 6em;
    text-align: center;
}

.filter-flex-container {
    display: flex;
    align-items: center;
    justify-content: center;

    mat-form-field {
        margin: auto .5em;
        // flex: 1;     // not used in order to have field of diff sizes
    }

    .minorFilter {
        width: 5em;
    }

    button {
        margin-left: 1em;
    }
}

form {
    margin: 1em 2em 0 2em;
}
  