<div class="container">
  Games on Wishlist (sorted by priority):
  <div class="spacer"></div>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let wishlist of wishlists">
      <mat-expansion-panel-header>
        <mat-panel-title> {{ WISHLIST_TITLES[wishlist.prio - 1] }} </mat-panel-title>
        <mat-panel-description>
          {{ wishlist.games.length }} items
          <!-- <mat-icon>account_circle</mat-icon> -->
        </mat-panel-description>
      </mat-expansion-panel-header>
      
      <ul>
        <li *ngFor="let game of wishlist.games">
          <a href="https://boardgamegeek.com/boardgame/{{game.objectid}}" target="_blank"> {{game.name}} </a>
        </li>
      </ul>
    </mat-expansion-panel>
  </mat-accordion>
</div>