mat-drawer {
  display: flex;
  height: 100%;
  width: 30%;
  min-width: 20em;
  align-items: center;
  justify-content: center;

  mat-list-item:hover {
    background: lightgrey;
    cursor: pointer;
  }
}

.drawerBtn {
  position: absolute;
  left: .5em;
  top: .5em;
}

mat-drawer-container {
  height: 100%;
  background-color: gainsboro;
}

