h1 {
  margin-bottom: .25em;
}

.gameDescription {  
  max-height: 15em;
  overflow: auto;
  margin-bottom: 1em;
  background-position: center;
}

mat-form-field {
  width: 10em;
  margin-right: 1em;
}

#dialogActions {
  display: block;
  text-align: right;
}

mat-dialog-content {
  overflow: unset;
}