<h1 mat-dialog-title>
  <a [href]="gameUrl" target="_blank"> {{game.name}} </a>
</h1>

<mat-dialog-content class="mat-typography">
  <mat-grid-list cols="2">
    <mat-grid-tile>
      <img [src]="game.image">
      <!-- [style.background-image]="gameImageUrl"> -->
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="gameDescription">
        <p [innerHTML]="game.description"></p>
      </div>
    </mat-grid-tile>
  </mat-grid-list>

  <ul>
    <ng-container *ngIf="game.numPlayersMin != game.numPlayersMax"><li> {{game.numPlayersMin}} - {{game.numPlayersMax}} players </li></ng-container>
    <ng-container *ngIf="game.numPlayersMin == game.numPlayersMax"><li> {{game.numPlayersMin}} players </li></ng-container>
    <ng-container *ngIf="game.playingTimeMin != game.playingTimeMax"><li> Playtime approx. {{game.playingTimeMin}} - {{game.playingTimeMax}} min </li></ng-container>
    <ng-container *ngIf="game.playingTimeMin == game.playingTimeMax"><li> Playtime approx. {{game.playingTimeMin}} min </li></ng-container>
    <li> {{game.playerAge}}+ years </li>
    <li> Weighted {{game.weightAverage}} / 5 </li>
  </ul>
  <div class="h-scroll-list">
    <b>Categories</b>:
    <div *ngFor="let category of game.categories" class="chip"> {{category}} </div>
  </div>
  <div class="h-scroll-list">
    <b>Mechanics</b>:
    <div *ngFor="let mechanic of game.mechanics" class="chip"> {{mechanic}} </div>
  </div>
</mat-dialog-content>

<!-- <div id="dialogActions" mat-dialog-actions></div> -->
