// .content {
//   display: flex;
//   margin: 82px auto 32px;
//   padding: 0 16px;
//   max-width: 960px;
//   flex-direction: column;
//   align-items: center;
// }

/* Responsive Styles
@media screen and (max-width: 767px) {

}

@media screen and (max-width: 575px) {
  
}
*/
