<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="card-avatar"> {{game.rank}} </div>
    <mat-card-title>
      <a [href]="gameUrl" target="_blank"> {{game.name}} </a> 
    </mat-card-title>
    <mat-card-subtitle>
      {{game.numPlayersMin}} - {{game.numPlayersMax}} players,
      <ng-container *ngIf="game.playingTimeMin != game.playingTimeMax"> {{game.playingTimeMin}} - {{game.playingTimeMax}} min, </ng-container>
      <ng-container *ngIf="game.playingTimeMin == game.playingTimeMax"> {{game.playingTimeMin}} min, </ng-container>
      {{game.playerAge}}+ years
    </mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="game.image">
  <mat-card-content>
    <p [innerHTML]="game.description"></p>
  </mat-card-content>
  <mat-card-actions>
    <!-- <button mat-button disabled>Log play +1</button>   // needed to be logged in for this ... -->
    <mat-chip-list>
      <mat-chip *ngFor="let category of game.categories" color="primary" selected> {{category}} </mat-chip>
      <mat-chip *ngFor="let mechanic of game.mechanics" color="secondary" selected> {{mechanic}} </mat-chip>
    </mat-chip-list>
  </mat-card-actions>
</mat-card>